fastapi
uvicorn[standard]
python-dotenv
{{if or .has_postgres .needs_auth}}sqlalchemy
{{end}}{{if .has_postgres}}psycopg[binary]
{{end}}{{if .needs_auth}}bcrypt
python-jose[cryptography]
python-multipart
{{end}}