{
  "name": "{{.project}}",
  "version": "1.0.0",
  "private": true,
  "type": "commonjs",
  "main": "index.js",
  "scripts": {
    "start": "node index.js"
  },
  "dependencies": {
    "express": "^4.19.2"{{if .has_postgres}},
    "pg": "^8.11.5"{{end}}
  }
}
